/* ==========================================
PLAT DU JOUR
========================================== */

.hero-section {

    padding: 80px 0;
    font-family: 'FFF Tusj', serif;

}

.hero-container {

    max-width: 900px;
    text-align: center;

}

.hero-title {

    font-family: 'FFF Tusj', serif;
    font-size: 72px;
    font-weight: 700;
    color: #FFF4ED;

    text-shadow:
    4px 4px 0 rgba(203,120,100,.55);

    margin-bottom: 10px;

}

.hero-subtitle {

    font-size: 30px;
    color: #A44740;
    margin-bottom: 50px;

}
